TOKEN=SEU_TOKEN_AQUI
CLIENT_ID=ID_DO_BOT
GUILD_ID=ID_DO_SERVIDOR
CARGO_AUTOROLE=1528505787058753667
CARGO_DONO=ID_DONO
CARGO_GERENTE=ID_GERENTE
CARGO_ATENDENTE=ID_ATENDENTE
CANAL_VENDAS=ID_CANAL_VENDAS
CANAL_LOGS=ID_LOGS
CANAL_PAINEL=ID_PAINEL
CANAL_TICKETS=ID_CATEGORIA_TICKETS
CANAL_ENTREGAS=ID_ENTREGAS
CANAL_SORTEIOS=ID_SORTEIOS
CANAL_VOZ=ID_CANAL_VOZ_24H
CHAVE_PIX=SUA_CHAVE_PIX
NOME_PIX=SEU_NOME_COMPLETO
CIDADE_PIX=SALVADOR
PORT=3000
